*.orig
/Dominio/build/
/Dominio/dist/
/Dominio/nbproject/private/
/ManejadorContenidos/build/
/ManejadorContenidos/dist/
/ManejadorContenidos/nbproject/private/
/ManejadorContenidos/ManejadorContenidos-ejb/build/
/ManejadorContenidos/ManejadorContenidos-ejb/dist/
/ManejadorContenidos/ManejadorContenidos-ejb/nbproject/private/
/ManejadorContenidos-cliente/dist/
/ManejadorContenidos-cliente/build/
/ManejadorContenidos-cliente/nbproject/private/
/ManejadorContenidos-comunes/build/
/ManejadorContenidos-comunes/dist/
/ManejadorContenidos-comunes/nbproject/private/
/ManejadorContenidos-logger/dist/
/ManejadorContenidos-logger/build/
/ManejadorContenidos-logger/nbproject/private/
/ManejadorContenidos-config/dist/
/ManejadorContenidos-config/build/
/ManejadorContenidos-config/nbproject/private/
/cliente/build/
/cliente/dist/
/cliente/nbproject/private/

/SwingClient/nbproject/private/
/SwingClient/build/
/SwingClient/dist/