/ManejadorContenidos/nbproject/private/
/ManejadorContenidos/ManejadorContenidos-ejb/nbproject/private/
*.class
*.jar
*.ear
*.orig
/ManejadorContenidos-Cliente/nbproject/private/
/ManejadorContenidosCommnos/nbproject/private/
/ManejadorContenidosCommons/nbproject/private/
/ManejadorContenidosCommons/build/
/Dominio/build/
/Dominio/dist/
/ManejadorContenidos/build/
/ManejadorContenidos-Cliente/dist/
/ManejadorContenidos-Cliente/build/
/ManejadorContenidosCommons/dist/
/ManejadorContenidos/ManejadorContenidos-ejb/build/
/ManejadorContenidos/ManejadorContenidos-ejb/dist/
/ManejadorContenidos/dist/